<div class="available">
    <h3>Here are a few of Lil' Angus' favorite burgers! Click the button to eat da burger!</h3>
    <ul>
        {{#each burger_data}}
        {{#unless devoured}}
            <li>{{burger_name}}</li>
            <button type="submit" id="devour-button" data-id={{id}}>Eat-Da-Burger!</button>
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="byoburger">
    <form class="burger-creator" method="POST" action="/insertOne">
        <label>
            Please type your order here to be served!
        </label>
        <input type="text" name="new-burger" id="new-burger" placeholder="Ex: Black Bean Burger">
        <button type="submit" id="add-burger">Click here to place order!</button>
    </form>
</div>

<div class="available">
    <h3>Eaten Burgers</h3>
    <ul>
        {{#each burger_data}}
        {{#if devoured}}
            <li>{{burger_name}}</li>
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class="devoured">
    <h3>We are sold out of these burgers! Come back another time!</h3>
    <div class="eaten">
    </div>
</div>