html {
    background-color: #FFC04C;
}

body {
   width: 75%;
   margin: 0 auto; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}

#dancing_burger {
    display: block;
    margin: auto;
}

.welcome-msg {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #d31010;

}

.available {
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #d31010;

}
.byoburger {
    text-align: center;
    font-family: 'Peddana', serif;
    color: red;
}

.devoured {
    text-align: right;
    font-family: 'Peddana', serif;
    color: red;
}
