html {
    background-color: #FFC04C;
}

body {
   width: 75%;
   margin: 0 auto; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}

#dancing_burger {
    display: block;
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
}

.welcome-msg {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #d31010;
}

.bigBurgerDiv {
    display: inline;
}

.available {
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #d31010;
    display: inline;

}
.burger-order {
    text-align: center;
    font-family: 'Peddana', serif;
    color: red;
    margin-top: 5px,
}

.devoured {
    text-align: right;
    font-family: 'Peddana', serif;
    color: red;
    display: inline;
}
